  .hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background: #333; */
  color: white;
  margin-bottom: 100px;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}



.video-bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  
}
